<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification----------- ScreamXO_watch (Notification).xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ScreamXO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ScreamXO_Watch (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ScreamXO_Watch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ScreamXO_watch (Notification).xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ScreamXO_watch.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A686EC761CB3A46300DCDEF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6AD660F1C3E74810047D519</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6AD66231C3E74810047D519</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6AD662E1C3E74810047D519</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6D24E501CAD59ED00240902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
