<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key> UIBackgroundModes</key>
	<string>audio</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>2KXO</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1006726839401266</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.simform.screamxo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.simform.screamxo.coinbase-oauth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.simform.screamxo.coinbase-oauth</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.638589596844-tfr5bjos3og2gn8fuavaej7iicd24hfu</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-ou15qscid4681qs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>msal5494c57c-8e9a-47cb-82da-adcd4be5a304</string>
				<string>auth</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>c7eh9v0sk0ertg2</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>fd6c072f28310a75c7faaee38be57a4c7cfe5a39</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>smqlvWiPRHMehxUE1x5h9mmnC</string>
					<key>consumerSecret</key>
					<string>WU1HunHVdZ7OF9IxatEhJxUtSMQscFjxL7UUX6qsko92qJE6or</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1006726839401266</string>
	<key>FacebookDisplayName</key>
	<string>ScreamXO</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>dbapi-1</string>
		<string>dbapi-3</string>
		<string>fbauth2</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbshareextension</string>
		<string>com.googleusercontent.apps.638589596844-tfr5bjos3og2gn8fuavaej7iicd24hfu</string>
		<string>com-google-gidconsent-google</string>
		<string>com-google-gidconsent-youtube</string>
		<string>com-google-gidconsent</string>
		<string>com.google.gppconsent.2.4.1</string>
		<string>com.google.gppconsent.2.4.0</string>
		<string>com.paypal.ppclient.touch.v1</string>
		<string>com.paypal.ppclient.touch.v2</string>
		<string>org-appextension-feature-password-management</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>$(PRODUCT_NAME) media library use</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>accessing bluetooth for connection</string>
	<key>NSCalendarsUsageDescription</key>
	<string>We are fetching events for check</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME)  camera use</string>
	<key>NSContactsUsageDescription</key>
	<string>we are accessing contact to verify data</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>We need to access of your location to find your friends which is nearby</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>We need to access of your location to find your friends which is nearby</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need to access of your location to find your friends which is nearby</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) microphone library use</string>
	<key>NSMotionUsageDescription</key>
	<string>We are accessing data</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) photo library use</string>
	<key>OneDrive base API URL</key>
	<string>https://YOUR_TENANT_NAME-my.sharepoint.com/_api/v2.0</string>
	<key>UIAppFonts</key>
	<array>
		<string>ProximaNova-Reg.otf</string>
		<string>ProximaNova-Sbold.otf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCompose</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Post Stream</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.screamxo.poststream</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Sell Now</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.screamxo.sellnow</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeCaptureVideo</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Post Media</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.screamxo.postmedia</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
